body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #f5f7fa;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensures form isn't full screen */
.form-wrapper {
  width: 100%;
  max-width: 450px; 
  padding: 10px;
}

/* Card design */
.form-card {
  background: white;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
}
